@model Zad.WEB_1.Areas.SpravaZpravy.Models.Modesilani
@*
    
    5 b) prvni view s formulařem vytvoreno pres add view razor pages jako metoda musi byt zvolena ta co mam v models
*@
@{
    ViewData["Title"] = "Odeslani";
}

<h1>Formulář pro odesílání zpráv</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Odeslani">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Odesilatel" class="control-label"></label>
                <input asp-for="Odesilatel" class="form-control" />
                <span asp-validation-for="Odesilatel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazev" class="control-label"></label>
                <input asp-for="Nazev" class="form-control" />
                <span asp-validation-for="Nazev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zprava" class="control-label"></label>
                <input asp-for="Zprava" class="form-control" />
                <span asp-validation-for="Zprava" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
