@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    5 b) druhe view kam se presmeruje prvni po uspesne validaci
*@

@{
    ViewData["Title"] = "UspesneOdeslani";
}

<div class="text-center">
    <h1 class="display-4">Zpráva byla odeslána</h1>
    <img src="~/img/succesicon.jpg" />

</div>
<div>
    <a asp-action="Odeslani">Další zpráva</a>
</div>